In [6]:
# import libraries
import pandas as pd
import sqlite3

import numpy as np
from numpy import std, mean, sqrt
import scipy.stats as stats
from scipy.stats import wilcoxon
from statsmodels.stats.power import tt_ind_solve_power
import statsmodels.api as sm
from statsmodels.formula.api import ols

import matplotlib.pyplot as plt
%matplotlib inline
# plt.style.use('Solarize_Light2')
import seaborn as sns

idx = pd.IndexSlice

In [7]:
# import data
conn = sqlite3.Connection('Northwind_large.sqlite')
cur = conn.cursor()

In [8]:
# Order data
cur.execute("""SELECT *
               FROM 'Order';
               """)
df_order = pd.DataFrame(cur.fetchall())
df_order.columns = [x[0] for x in cur.description]
df_order.sample(3)

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
9783,20031,RICAR,3,2015-07-24 10:26:42,2015-08-08 20:54:41,2015-08-03 23:29:37,1,180.0,Tortuga Restaurante,Avda. Azteca 123,México D.F.,Central America,05033,Mexico
10852,21100,ERNSH,8,2014-10-04 12:14:51,2014-10-17 05:11:43,2014-10-06 20:00:49,2,133.5,Piccolo und mehr,Geislweg 14,Salzburg,Western Europe,5020,Austria
358,10606,TRADH,4,2013-07-22,2013-08-19,2013-07-31,3,22.5,Tradiçao Hipermercados,"Av. Inês de Castro, 414",Sao Paulo,South America,05634-030,Brazil

In [10]:
# OrderDetail data
cur.execute("""SELECT OrderDate
               FROM 'Order';
               """)
df_orderD = pd.DataFrame(cur.fetchall())
df_orderD.columns = [x[0] for x in cur.description]
df_orderD.sample(3)

                OrderDate
1080  2012-10-08 14:44:13
8811  2015-06-15 11:41:31
5213  2016-02-18 04:39:26

In [12]:
# nans identification
print(len(df_orderD))

16818

### Remove duplicate data

In [13]:
# identification of duplicate data
print('duplicated rows: ' + str(df_orderD.duplicated().sum()))

duplicated rows: 351

In [16]:
df_orderD.columns = df_orderD.columns.str.strip()

In [18]:
df_orderD.describe()

         OrderDate
count        16818
unique       16467
top     2014-02-26
freq             6

In [20]:
df_orderD.to_csv(r'Time.csv')