In [60]:
# import libraries
import pandas as pd
import sqlite3

import numpy as np
from numpy import std, mean, sqrt
import scipy.stats as stats
from scipy.stats import wilcoxon
from statsmodels.stats.power import tt_ind_solve_power
import statsmodels.api as sm
from statsmodels.formula.api import ols

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

idx = pd.IndexSlice

In [61]:
# import data
conn = sqlite3.Connection('Northwind_large.sqlite')
cur = conn.cursor()

In [68]:
# Product data
cur.execute("""SELECT id AS ProductID, ProductName, CategoryName AS categoryName
               FROM ProductDetails_V;
               """)
df_product = pd.DataFrame(cur.fetchall())
df_product.columns = [x[0] for x in cur.description]
df_product.sample(3)

    ProductID           ProductName    categoryName
58         59  Raclette Courdavault  Dairy Products
32         33               Geitost  Dairy Products
1           2                 Chang       Beverages

### Manage n/a data types

In [69]:
# nans identification
print(len(df_product))
df.isna().sum()

77

Id              0
OrderDate       0
ShipVia         0
Freight         0
ProductPrice    0
OrderPrice      0
Quantity        0
ReorderLevel    0
ProductId       0
Discount        0
dtype: int64

### Remove duplicate data

In [70]:
# identification of duplicate data
print('duplicated rows: ' + str(df_product.duplicated().sum()))

duplicated rows: 0

In [71]:
#VACIO
df_product.columns = df_product.columns.str.strip()

### Manage data types

First, let's see what the data types for this data set are.

In [72]:
# data type identification
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     77 non-null     int64
 1   ProductName   77 non-null     object
 2   categoryName  77 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

### Remove outliers

In [74]:
df_drop = df_product[df_product['ProductID']!=11]
df_drop = df_drop[df_drop['ProductID']!=42]

In [77]:
df_drop.sample(5)

    ProductID          ProductName    categoryName
32         33              Geitost  Dairy Products
8           9      Mishi Kobe Niku    Meat/Poultry
20         21  Sir Rodney's Scones     Confections
38         39     Chartreuse verte       Beverages
36         37           Gravad lax         Seafood

In [81]:
df_product.to_csv(r'OrderDetail.csv')